* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
nav {
    display: flex;
    height: 80px;

    align-items: center;
    border-bottom: 2px solid #ffffff;
}
#menu{
    min-width: 350px;
    width: auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-right: 50px;
    box-sizing: border-box;

}
#menu a {
    text-decoration: none;
    color: #282c3f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    flex-grow: 1;
    padding-top: 33px;
    height: 48px;
    border-bottom: 4px solid #ffffff;
    transition: border-color 0.5s;

}

#menu a sup {

    color:  #ff3f6c;
    position: relative;
    top: -0.4rem;
    vertical-align: baseline;
    line-height: 0;
}

#menu #green:hover{
    border-bottom: 4px solid green;
}
nav #yellow:hover{
    border-bottom: 4px solid darkgoldenrod;
}
nav #lavender:hover{
    border-bottom: 4px solid violet;
}
nav #aqua:hover{
    border-bottom: 4px solid aqua;
}
nav #pink:hover{
    border-bottom: 4px solid slategrey;
}
nav #red:hover{
    border-bottom: 4px solid red;
}

#icon {
    padding-left: 50px;
    padding-right: 10px;
}
img {
    height: 40px
}
#searchbar {
    
    height: 40px;
    display: flex;
    align-items: center;
    background-color: beige;
    margin-right: 2%;
    
}
#searchicon{
    padding-top: 20px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    
}
#input{
    border: #ffffff;
}
.text {
    background-color: beige;
    height: 40px;
    /* width: auto; */
    border: none;
    min-width: 200px;

}
